[submodule "src/AFM-Learn"]
	path = src/AFM-Learn
	url = https://github.com/m3-learning/AFM-Learn.git
[submodule "src/Plume-Learn"]
	path = src/Plume-Learn
	url = https://github.com/m3-learning/Plume-Learn.git
[submodule "src/XRD-Learn"]
	path = src/XRD-Learn
	url = https://github.com/m3-learning/XRD-Learn.git
[submodule "src/M3Learning-Util"]
	path = src/M3Learning-Util
	url = https://github.com/m3-learning/M3Learning-Util.git
