ChromaPalette==0.1.1
datafed==3.0.0
igor==0.3
imagej==0.3.1
imutils==0.5.4
matplotlib==3.9.2
opencv-python==4.7.0.72
openpyxl==3.0.10
Pillow==9.2.0
protobuf==5.27.1
PyScaffold==4.6
pytest==7.1.2
shapely==2.0.1
tox==4.21.2
virtualenv==20.26.6
wget==3.2
xrayutilities==1.7.8
pandas
seaborn
mpl_toolkits
plotly
opencv-python
h5py
tqdm
scikit-learn
numpy
mp_api

-e git+https://github.com/m3-learning/AFM-Learn.git@a33ccf2#egg=AFM_Learn
-e git+https://github.com/m3-learning/Plume-Learn.git@ea6df39#egg=Plume_Learn
-e git+https://github.com/m3-learning/XRD-Learn.git@27ce9dd#egg=XRD_Learn